.box{
    width: 300px;   
    height:200px;
    margin:auto;
    border:5px solid black;


    display:flex;
    background:beige;
    align-items: center;
    justify-content: center;
    transition: all 3s linear 1s;


}
.container{
    width: 100vw;
    height: 100vh;
   
    display: flex;
    justify-content: center;
    align-items: center;
    


}
.box:hover{
    /* transform: rotate(45deg); */
    /* transform: scale(2); */
    /* transform: skew(45deg); */
    transform: translate(200px,200px);

}
p{
    
    font-size: 30px;
    color: brown;
}
